*{
    margin: 0;
    padding: 0%;
}
.container{
    background-color: antiquewhite;
    width:100vw;
    height: 100vh;
}
header{
    width:100vw;
    height:50px;
background-color: aquamarine;
display: flex;
}
.inner_header ul{
display: inline;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
padding-left: 30px;
align-items: center;
justify-content: center;
}
a{
    text-decoration: none;
color: black;
align-items: center;
justify-content: center;
}
.specialities{
    width:100vw;
    height:1000px;
background-color: rgb(255, 219, 127);
display: grid;
grid-template-columns: auto auto auto;
  background-color: dodgerblue;
  padding: 10px;
}
.specialities > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}